<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1 th:text="${titolo}">Elenco canzoni</h1>
	<!-- Thymeleaf text come attributo che sovrascriverà il contenuto del tag 1 alla ricezione del dato dal controller -->
	<h2 style="color:red;"th:text="${errore}"></h2>
<form action="#" th:action="@{/login/loginUtente}" th:object="${formUtente}" method="post">
	<p> Email: <input type="text" th:field="${formUtente.email}"/></p>
	<p> Password: <input type="text" th:field="${formUtente.password}"/></p>
	<p> <input type="submit" value="Accedi"> </p>
</form>
</body>
</html>